<div>
  <h2>プロフィール情報</h2>
  <p>メール: <%= @user.email %></p>
</div>

<div>
  <h2>投稿</h2>
  <% @posts.each do |post| %>
    <div>
      <p><%= post.context %></p>
      <% if post.image.present? %>
        <p><%= image_tag post.image.url %></p>
      <% end %>
      <p>投稿日: <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
    </div>
  <% end %>
</div>
